<footer class="footer">
    <div class="row">
        <div class="container">
            <span class="pull-left">{{ 'footer_text_line'|trans }}</span>
        </div>
    </div>
</footer><!-- .footer -->