<footer class="footer">
    <div class="row">
        <div class="container">
            <span class="pull-left">© santehnik.pp.ua 2009-2016</span>
            <span class="pull-right btn-modal rules">Условия использования</span>
        </div>
    </div>
</footer><!-- .footer -->