{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Hello!</h1>
            {% if is_granted("ROLE_EMPLOYEE") %}
            <p>This application is created specifically for the services support and monitoring.</p>
            {% else %}
                <p>Pleasant and productive work, after you log in to your account!</p>
            {% endif %}
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-sm-8 blog-main">

                <div class="blog-post">

                    {% if is_granted("ROLE_EMPLOYEE") %}
                        <h2 class="blog-post-title">Best of luck!</h2>
                        <p>Now, get to work!</p>
                        <p><img src="/images/pc-cat.jpg"></p>
                    {% elseif is_granted("IS_AUTHENTICATED_FULLY") %}
                        <h2 class="blog-post-title">Ok.</h2>
                        <p>Now you need to wait for your account verification.</p>
                    {% else %}
                        <h2 class="blog-post-title">How to start?</h2>
                        <p>To continue working with the application, you need to register, or if you already have your
                        account created, then you need to log in.</p>
                    {% endif %}

                </div><!-- /.blog-post -->

            </div><!-- /.blog-main -->

            {% if is_granted("ROLE_EMPLOYEE") %}
            <div class="col-sm-3 offset-sm-1 blog-sidebar">

                <div class="sidebar-module">
                    <h4>Useful links</h4>
                    <ol class="list-unstyled">
                        <li><a href="" onclick="window.open('https://translate.google.com/')">Google translate</a></li>
                        <li><a href="" onclick="window.open('https://murka.helpshift.com/admin/issues/1-2/')">Helpshift</a></li>
                        <li><a href="" onclick="window.open('https://murkasupport.zendesk.com/agent/filters/')">Zendesk</a></li>
                        <li><a href="" onclick="window.open('https://docs.google.com/spreadsheets/d/1dXhuvSSCSQ9mn8u4XafQ-HuUUCBL7u3nRXS5fRWG4cg/edit')">Work schedule support</a></li>
                        <li><a href="" onclick="window.open('https://wiki.murka.com/')">Wiki Murka</a></li>
                        <li><a href="" onclick="window.open('https://www.facebook.com/')">Facebook</a></li>
                        <li><a href="" onclick="window.open('https://www.youtube.com/?gl=UA&hl=uk')">YouTube</a></li>
                    </ol>
                </div>

            </div><!-- /.blog-sidebar -->
            {% endif %}

        </div><!-- /.row -->

    </div>
{% endblock %}
