<ul class="nav-bar">
    <li class="animated flipInX">
        <a class="logo" href="{{ path('homepage') }}" title="вызов сантехника в Украине">
                        <span>
                            <svg itemprop="logo" class="icon icon-logo" viewBox="0 0 18 32">
                                <use xlink:href="/css/sprite.svg#logo"></use>
                            </svg>
                        </span>
            <b itemprop="name">{{ 'logo_string'|trans }}</b>
        </a>
    </li>
    <li>
        <div class="text-center phone-block">
            <a href="tel:0800750140" class="phone animated flipInX">
                <strong itemprop="telephone">✆ 0 800 750 140&nbsp;</strong>
                <br>
                <span>Бесплатный звонок по всей Украине</span>
            </a>

        </div>
    </li>
    <li id="123" class="text-right">
        <div class="menu-button btn-modal menus">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu animated flipInX" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="#1" itemprop="item"><span itemprop="name">Вызов</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="#2" itemprop="item"><span itemprop="name">Услуги</span></a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="#4" itemprop="item"><span itemprop="name">Контакты</span></a>
                <meta itemprop="position" content="4">
            </li>
        </ul>
    </li>
</ul>