<div class="modal modal-menus">
    <div class="btn-closed"></div>
    <div class="center-content">
        <div id="menu" class="close">
            <ul class="menus close">
                <li><a href="#1">{{ 'header_menu_call'|trans }}</a>
                </li>
                <li>
                    <a href="#2">{{ 'header_menu_services'|trans }}</a>
                </li>
                <li>
                    <a href="#4">{{ 'header_menu_contacts'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>