{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
                <p class="title">Create new Macros!</p>
                {{ form(form_add_makros) }}
        </div>
{% endblock %}