<!--контакты-->
<section class="container-fluid contact-screen" id="4">
    <div class="row">
        <h3>{{ page.contactsTitle }}</h3>
        <div class="container">
            {{ page.contactsLeft|raw }}
        </div>
        <div class="container">
            <div class="master-to-home clearfix">
                <div class="left-block">
                    {{ page.contactsLeftSecond|raw }}
                </div>
                <div class="right-block text-right">
                    {{ page.contactsRightFirst|raw }}
                </div>
            </div>
            <div id="blockajax"><p class="random-text"></p></div>
        </div>
    </div>
</section>