<!--услуги-->
<section class="container-fluid services-screen bg-gray" id="2">
    <div class="row">
        <h3>{{ page.ourServices }}</h3>
        <div class="container">
            <ul class="block-ico-left">
                {% for key, ourService in page.ourServicesIcons %}
                    {% if key is even %}
                        {% include(':Block/parts:icon-item.html.twig') with {'item': ourService} %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="container">
            <ul class="block-ico-left">
                {% for key, ourService in page.ourServicesIcons %}
                    {% if key is odd %}
                        {% include(':Block/parts:icon-item.html.twig') with {'item': ourService} %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>