<!--объекты-->
<section class="container-fluid info-object-screen">
    <div class="row">
        {% for section in sections %}
            <div class="container home">
                <div class="thumb">
                    <img src="{{ vich_uploader_asset(section, 'file')  | imagine_filter('main_thumb') }}"
                         alt="{{ section.title }}">
                    <h5>{{ section.title }}</h5>
                </div>
                {% if section.iconBlocks %}
                    {% include('Block/parts/third-section-icon-block.html.twig') with {'iconBlocks': section.iconBlocks} %}
                {% endif %}
            </div>
        {% endfor %}

    </div>
</section>