<ul class="navbar-nav navbar-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'header_select_lenguage'|trans }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for locale in locales %}
            <a class="dropdown-item{% if current_locale == locale.locale %} disabled{% endif %}"
               title="{{ locale.locale_current_language }}"
               href="{{ locale.link }}">
                {{ locale.locale_current_language }}
            </a>
            {% endfor %}
        </div>
    </li>
</ul>