<li>
    <a {% if item.file %}href="/doc/{{ item.file }}" target="_blank"{% else %}href="javascript:void(0);"{% endif %}>
        <svg class="icon" viewBox="0 0 32 32">
            <use xlink:href="{{ asset('assets/style/sprite.svg') }}#{{ item.icon }}"></use>
        </svg>
        <span>{{ item.title }}</span>
    </a>
</li>