<ul class="info-menu">
    <li class="hover-open"></li>
    {% for key, privilege in privileges %}
    <li>
        <div class="info-element wow fadeInRight" data-wow-duration=".1s" data-wow-delay=".5s"
             style="visibility: hidden; animation-duration: 0.1s; animation-delay: 0.5s; animation-name: none;">
            <svg class="icon help-request" viewBox="0 0 30 30">
                <use xlink:href="{{ asset('assets/style/sprite.svg') }}#{{ privilege.icon }}"></use>
            </svg>
            <div class="hover">
                {{ privilege.title }}
            </div>
            <span>{{ key + 1 }}</span>
        </div>
    </li>
    {% endfor %}
</ul>