<div>
    <ul class="sub-menu">
        {% for privilege in privileges %}
            <li class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInDown;">
                <span class="tooltip" itemprop="additionalProperty">{{ privilege.title }}</span>
                <svg class="icon icon-services-best-plumbers" viewBox="0 0 32 32">
                    <use xlink:href="{{ asset('assets/style/sprite.svg') }}#{{ privilege.icon }}"></use>
                </svg>
            </li>
        {% endfor %}
    </ul>
</div>