{% import "Block/parts/icon-size.twig" as icon %}
<ul class="block-ico-left">
    {% for iconBlock in iconBlocks %}
        <li>
            <svg class="icon icon-house" viewBox="{{ icon.size(iconBlock.icon) }}">
                <use xlink:href="{{ asset('assets/style/sprite.svg') }}#{{ iconBlock.icon }}"></use>
            </svg>
            {{ iconBlock.title }}
        </li>
    {% endfor %}
</ul>